.strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
}

.point:last-of-type {
  margin: 0 !important;
}

.point {
  background: #DDD;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 30px;
}

p {
  font-weight: bold;
  font-size: 20px;
} 

.strength{
  border: 1px solid #ccc;
    border-style: ridge;
    height: 102px;
    width: 125px;
    margin-left: 14px;
}
input
{
    font-size:14px;
}